* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.q{
    display: grid;
    background-color:bisque;
    width: 800px;
    height: 800px;
    grid-template-areas: 
    "menu1 menu1 logo logo banner banner banner"
    "menu1 menu1 texto texto texto texto texto "
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    "menu1 menu1 texto texto texto texto texto"
    
}
.menu1 {
    grid-area: menu1;
    background-color: coral;
}
.logo {
    grid-area: logo;
    background-color: crimson;
}
.banner{
    grid-area: banner;
    background-color: aquamarine;
}