* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.q {
    display: grid;
    background-color:bisque;
    width: 800px;
    height: 800px;
    grid-template-areas: 
    "logo logo logo banner banner banner banner banner "
    "menu1 menu1 menu2 menu2 menu2 menu2 menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    "menu1 menu1 texto texto texto texto menu3 menu3 "
    
   
    
    
    ;
}

.logo {
    grid-area: logo;
    background-color: blue;
}
.banner{
    grid-area: banner;
    background-color: rgb(255, 41, 41);
}
.menu1 {
    grid-area: menu1;
    background-color: darkmagenta;
}
.menu2 {
    grid-area: menu2;
    background-color: lime; 
 }
.menu3 {
    grid-area: menu3;
    background-color: gold;
}



